
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <h2>Dosya Yükleme</h2>
            @using (Html.BeginForm("studentFileUpload", "forms", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label for="file">Dosya seç:</label>
                <input type="file" name="file" id="file" /><br><br>
                <input type="submit" value="Yükle" />
                <br><br>
                @ViewBag.Message
            }

        </div>
    </div>
</div>